
/* fonts
sizes:
    mobile:
        heading 32 
        subheading 24
        paragraph 16
    desktop:
        heading 40
        subheading 32
        paragraph 24
*/

.mobileHeading {
    font-size: 32px;
}

.mobileSubheading {
    font-size: 24px;
}

.mobileParagraph {
    font-size: 16px;
}

/* button for all site */
button {
    padding: 10px 20px;
    margin: 10px 0px;
}

/* Hovering over question mark images */

.questionMark {
    border-radius: 30px;  
}

.questionMark:hover {
    box-shadow: 0 0 20px #278125;    
}

/* Footer hovering */
.buyMeACoffee {
    color: white;
    background-color: #278125;
    border: 2px solid #278125;
    border-radius: 10px;
    padding: 5px;
}

.buyMeACoffee:hover {
    box-shadow: 0 0 20px #278125;
}

/* canvas */

canvas {
    background-color: rgb(188, 188, 188);
    max-width: 500px;
}

/* Grid for desktop */

@media only screen and (min-width: 768px) {
    #menuMobile {
        display: none;
    }

    #homeContentMobile {
        display: none;
    }

    /* graphs in summary desktop */
    #graph-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 40px;
        margin: 20px;
    }

}

/* Grid for mobile */
@media only screen and (max-width: 767px) {
    #menuDesktop {
        display: none;
    }
    
    #homeContentDesktop {
        display: none;
    }

    /* graphs in summary mobile */
    #graph-container {
        margin: 20px;
    }

    #layout-container {
        display: block;
    }

}



/* Effect for hovering over header */

.headerLi {
    background: linear-gradient(0deg, green, green) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
  }
.headerLi:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}


.underline {
    padding-bottom: 2px;
    --bg-h: 2px;
  }