.title {
    text-align: center;
    margin: 30px 0px;
}

.content {
    text-align: center;
}

.divButtons {
    display: flex;
    justify-content:space-between;
}

.divButtons button {
    width: 45%;
}